header{
    background-color: rgb(210, 201, 149);
}
body{
    background-color:rgb(49, 154, 49);
}
footer{
    background-color: rgb(210, 201, 149);
}

.float-figure{
    width: 1200px;
    margin: 40px auto;
    overflow: hidden;
}

.float-figure img {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 20px;
    display: block;
}

.float-figure figcaption {
    overflow: hidden;
    max-width: 460px;
}

.fun-facts{
    float: left;
    width: 420px;
    padding: 20px;
    background-color: grey;
    border: 5px solid #962b2b;
    margin-right: 30px;
}

main{
    margin-left: 500px;
}
