header{
    text-align: center;
    padding: 1px;
    color: white;
    background-color: #781a16
}

body{
    background-color:white;
}
footer{
    color: white;
    background-color: #781a16;
}

.float-figure{
    width: 1200px;
    margin: 40px auto;
    overflow: hidden;
}

.float-figure img {
    float: left;
    width: 300px;
    height: auto;
    margin-right: 20px;
    display: block;
}

.float-figure figcaption {
    overflow: hidden;
    max-width: 460px;
}

.fun-facts{
    float: left;
    width: 420px;
    height: 1400px;
    padding: 20px;
    background-color: #6c6d70;
    border-right: 5px solid #781a16;
    border-left: 5px solid #781a16;
    margin-right: 30px;
}

.fun-facts img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.westsunset{
    text-align: center;
}

main{
    margin-left: 500px;
    background-color: white;
}

.paragraph-title{
    margin: auto;
    text-align: center;
    color: white;
    background-color: #781a16;
}

a{
    color: #781a16;
}